n8n_sheets_project_status.json
{
  "name": "JS Solutions - Get Project Status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-status",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_SECRET_TOKEN_ID_HERE",
          "name": "Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "ID_DE_TU_GOOGLE_SHEETS_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "CRM Clientes",
          "mode": "id"
        },
        "lookupColumn": "Email",
        "lookupValue": "={{ $json.body.identifier }}",
        "options": {}
      },
      "id": "2",
      "name": "Lookup Client",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "ID_DE_TU_GOOGLE_SHEETS_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Proyectos",
          "mode": "id"
        },
        "lookupColumn": "Empresa Cliente",
        "lookupValue": "={{ $json.Empresa }}",
        "options": {}
      },
      "id": "3",
      "name": "Lookup Project",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "ID_DE_TU_GOOGLE_SHEETS_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tareas",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4",
      "name": "Get All Tasks",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const tasks = $input.all().filter(t => t.json['Proyecto'] === $('Lookup Project').item.json['ID Proyecto'] || t.json['Proyecto'] === $('Lookup Project').item.json['Nombre Proyecto']);\n\nconst projectData = $('Lookup Project').item.json;\nconst clientData = $('Lookup Client').item.json;\n\n// Transform tasks\nconst mappedTasks = tasks.map(t => ({\n  id: t.json['ID Tarea'] || Math.random().toString(36).substr(2, 9),\n  name: t.json['Nombre Tarea'],\n  status: t.json['Estado'] || 'Pendiente'\n}));\n\n// Calculate progress\nconst totalTasks = mappedTasks.length;\nconst completedTasks = mappedTasks.filter(t => t.status === 'Finalizado').length;\nconst progressPercentage = totalTasks > 0 ? Math.round((completedTasks / totalTasks) * 100) : 0;\n\n// Determine phase\nconst currentPhase = projectData['Estado'] || 'Iniciado';\n\nreturn {\n  projectName: projectData['Nombre Proyecto'],\n  serviceType: projectData['Tipo de Servicio'],\n  currentPhase: currentPhase,\n  progressPercentage: progressPercentage,\n  driveFolderUrl: projectData['Link Carpeta Drive'] || clientData['URL Carpeta'] || '',\n  tasks: mappedTasks\n};\n"
      },
      "id": "5",
      "name": "Process Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lookup Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Client": {
      "main": [
        [
          {
            "node": "Lookup Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Project": {
      "main": [
        [
          {
            "node": "Get All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Tasks": {
      "main": [
        [
          {
            "node": "Process Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b182103f-e8b8-4c6e-8123-af3a7d79b9ae",
  "id": "WFXZ5qN2M0P1"
}
