n8n/workflows/js-solutions-submit-brief.json
{
  "name": "JS Solutions - Submit Technical Brief",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "js-solutions/submit-brief",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3d1800a4-196e-4b8a-85da-7532a91dd1db",
      "name": "Webhook (Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        -16
      ],
      "webhookId": "c347ff68-872c-4b58-8dbc-1c1fb073fc85"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst token = body.token ?? '';\nconst answers = body.answers ?? body.technicalBrief ?? {};\nconst idempotencyKey = body.idempotencyKey ?? '';\nconst correlationId = body.correlationId ?? `submit-brief-${Date.now()}`;\nconst briefSubmissionId = typeof crypto !== 'undefined' && crypto.randomUUID\n  ? crypto.randomUUID()\n  : `${Date.now()}-${Math.random().toString(16).slice(2)}`;\n\nif (!token) {\n  throw new Error('token is required');\n}\n\nreturn [{\n  json: {\n    token,\n    answers,\n    answersJson: JSON.stringify(answers),\n    completedAt: new Date().toISOString(),\n    nextStatus: 'Brief Completado',\n    idempotencyKey,\n    correlationId,\n    briefSubmissionId\n  }\n}];"
      },
      "id": "a515d8f6-e708-48b6-85e4-fac2c6a0a1f6",
      "name": "Validate And Normalize Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "URL_A_TU_GOOGLE_SHEET",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Brief_Token",
              "lookupValue": "={{ $('Validate And Normalize Brief').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e11a8b5b-6a5f-42be-bb55-2df70f80c111",
      "name": "Lookup Lead By Token",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        32,
        -16
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c1e73a4-8a68-447a-9f1a-d3f3c4fd41ac",
              "leftValue": "={{ $json.Brief_Token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ef6c6ae-9602-4258-bff2-45d2b0d5c222",
      "name": "IF Token Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "URL_A_TU_GOOGLE_SHEET",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Brief_Token": "={{ $('Validate And Normalize Brief').item.json.token }}",
            "Technical_Brief_JSON": "={{ $('Validate And Normalize Brief').item.json.answersJson }}",
            "estado": "={{ $('Validate And Normalize Brief').item.json.nextStatus }}",
            "Brief_Completed_At": "={{ $('Validate And Normalize Brief').item.json.completedAt }}",
            "Last_Submit_Brief_Idempotency_Key": "={{ $('Validate And Normalize Brief').item.json.idempotencyKey }}",
            "Last_Correlation_Id": "={{ $('Validate And Normalize Brief').item.json.correlationId }}"
          },
          "matchingColumns": [
            "Brief_Token"
          ],
          "schema": [
            {
              "id": "Brief_Token",
              "displayName": "Brief_Token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Technical_Brief_JSON",
              "displayName": "Technical_Brief_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Brief_Completed_At",
              "displayName": "Brief_Completed_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Last_Submit_Brief_Idempotency_Key",
              "displayName": "Last_Submit_Brief_Idempotency_Key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Last_Correlation_Id",
              "displayName": "Last_Correlation_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "367c302a-e81e-4d47-ae40-b0933470b365",
      "name": "Update Lead Brief Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        560,
        -128
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14570f34-739d-4583-b42b-d1b0b11d0b07",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "1610ea8d-4811-4d8d-9c00-8166f7630573",
              "name": "token",
              "value": "={{ $('Validate And Normalize Brief').item.json.token }}",
              "type": "string"
            },
            {
              "id": "c75bc58f-6108-4faf-8fbf-f9a5efebc0fd",
              "name": "message",
              "value": "Brief tecnico recibido y registrado.",
              "type": "string"
            },
            {
              "id": "brief-sub-id",
              "name": "briefSubmissionId",
              "value": "={{ $('Validate And Normalize Brief').item.json.briefSubmissionId }}",
              "type": "string"
            },
            {
              "id": "corr-id",
              "name": "correlationId",
              "value": "={{ $('Validate And Normalize Brief').item.json.correlationId }}",
              "type": "string"
            },
            {
              "id": "lead-id",
              "name": "leadId",
              "value": "={{ $json.leadId || $('Lookup Lead By Token').item.json.leadId ||  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a32203fd-b5db-44ce-97bd-9c6389ea6921",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35f8ee78-2fdd-4d1d-bb89-4fdadad0ed77",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "242ba4e1-35aa-4b8e-b4f6-53db9aa1f4f6",
              "name": "token",
              "value": "={{ $('Validate And Normalize Brief').item.json.token }}",
              "type": "string"
            },
            {
              "id": "92f8f589-2eb4-4a66-a4a4-becf3c76b8bf",
              "name": "error",
              "value": "No se encontro una fila con ese Brief_Token.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "91b0f04e-47d2-4ef2-bf0a-75a8e054b333",
      "name": "Not Found Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        -128
      ],
      "id": "186916e7-54e0-42d8-9d5e-7f1e2cdecdfc",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        112
      ],
      "id": "d7cb9587-1738-4126-a7fb-20531b0e5f99",
      "name": "Respond Not Found"
    }
  ],
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Validate And Normalize Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Normalize Brief": {
      "main": [
        [
          {
            "node": "Lookup Lead By Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Lead By Token": {
      "main": [
        [
          {
            "node": "IF Token Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Token Found": {
      "main": [
        [
          {
            "node": "Update Lead Brief Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Brief Data": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Found Response": {
      "main": [
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b04d226497cdc806d4b65c48d09c823047f6131a6e6568526b981dd7b9fac8e9"
  }
}
