n8n/workflows/js-solutions-generate-contract.json
{
  "name": "JS Solutions - Generate Contract",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "js-solutions/generate-contract",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "90d675f0-0d5a-422e-83c2-f81d678296eb",
      "name": "Webhook (Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst leadId = body.leadId ?? body.quoteId ?? '';\nconst email = body.email ?? '';\n\nif (!leadId && !email) {\n  throw new Error('leadId or email is required');\n}\n\nreturn [{\n  json: {\n    leadId,\n    email,\n    requestedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "f56b23d7-2944-4214-95f9-0a2dc3631b13",
      "name": "Validate Contract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetUrl": "URL_A_TU_GOOGLE_SHEET",
        "lookupColumn": "TU_COLUMNA_LEAD_ID",
        "lookupValue": "={{ $json.leadId }}",
        "options": {}
      },
      "id": "da4dcb35-b30d-4e4d-b6ea-1f67aca3f4ed",
      "name": "Lookup Lead Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        740,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst leadId = source.leadId ?? $('Validate Contract Request').item.json.leadId;\nconst email = source.email ?? $('Validate Contract Request').item.json.email;\nconst contractId = typeof crypto !== 'undefined' && crypto.randomUUID\n  ? crypto.randomUUID()\n  : `${Date.now()}-${Math.random().toString(16).slice(2)}`;\nconst company = source.empresa ?? source.Empresa ?? 'Prospecto';\nconst service = source.servicio ?? source.Servicio ?? 'Servicio JS Solutions';\nconst amount = source.monto ?? source.Monto ?? 'Pendiente';\nconst contractUrl = `https://files.jssolutions.co/contracts/${contractId}.pdf`;\n\nreturn [{\n  json: {\n    leadId,\n    email,\n    contractId,\n    company,\n    service,\n    amount,\n    contractUrl,\n    nextStatus: 'Contrato Enviado',\n    generatedAt: new Date().toISOString(),\n    contractHtml: `<h1>Contrato JS Solutions</h1><p>Cliente: ${company}</p><p>Servicio: ${service}</p><p>Valor: ${amount}</p><p>ID: ${contractId}</p>`\n  }\n}];"
      },
      "id": "d482562b-f124-4a17-82be-d9ea60365853",
      "name": "Prepare Contract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1030,
        320
      ]
    },
    {
      "parameters": {
        "fromEmail": "smtp@jssolutions.co",
        "toEmail": "={{ $json.email }}",
        "subject": "Tu contrato con JS Solutions",
        "emailFormat": "html",
        "html": "=<p>Hola,</p><p>Adjuntamos el enlace de tu contrato.</p><p><a href=\"{{$json.contractUrl}}\">Ver contrato</a></p><p>Servicio: {{$json.service}}</p><p>Valor: {{$json.amount}}</p>",
        "options": {}
      },
      "id": "a27858d2-4f7c-4e61-9286-735bfa874b32",
      "name": "Send Contract Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1290,
        320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetUrl": "URL_A_TU_GOOGLE_SHEET",
        "updateKey": "TU_COLUMNA_LEAD_ID",
        "updateValue": "={{ $('Prepare Contract Payload').item.json.leadId }}",
        "columns": {
          "Estado": "={{ $('Prepare Contract Payload').item.json.nextStatus }}",
          "Contract_URL": "={{ $('Prepare Contract Payload').item.json.contractUrl }}",
          "Contract_Generated_At": "={{ $('Prepare Contract Payload').item.json.generatedAt }}"
        },
        "options": {}
      },
      "id": "88676843-e7e8-4139-b484-8a6eedf1acbf",
      "name": "Update Lead Contract Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "694cccb1-93f1-4385-a77f-adb1455bce01",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "cdf305ab-cddd-4411-b310-ec445f6cf5ea",
              "name": "contractUrl",
              "value": "={{ $('Prepare Contract Payload').item.json.contractUrl }}",
              "type": "string"
            },
            {
              "id": "4052d45e-2362-474c-ab16-a2019fa2b311",
              "name": "contractId",
              "value": "={{ $('Prepare Contract Payload').item.json.contractId }}",
              "type": "string"
            },
            {
              "id": "30fc25bf-3762-4d4f-b38d-629d4351ffed",
              "name": "message",
              "value": "Contrato generado y enviado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f377ca4c-e64a-453d-bfdf-ab7eb15dcbf4",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1830,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Validate Contract Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Contract Request": {
      "main": [
        [
          {
            "node": "Lookup Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Lead Data": {
      "main": [
        [
          {
            "node": "Prepare Contract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contract Payload": {
      "main": [
        [
          {
            "node": "Send Contract Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Contract Email": {
      "main": [
        [
          {
            "node": "Update Lead Contract Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Contract Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a17fc820-2fcb-4077-af02-7afeff8628bb",
  "meta": {},
  "tags": []
}
