n8n/workflows/js-solutions-submit-brief.json
{
  "name": "JS Solutions - Submit Technical Brief",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "js-solutions/submit-brief",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c18b5a16-7f8f-492a-98de-44d8c7dfef6c",
      "name": "Webhook (Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst token = body.token ?? '';\nconst answers = body.answers ?? body.technicalBrief ?? {};\n\nif (!token) {\n  throw new Error('token is required');\n}\n\nreturn [{\n  json: {\n    token,\n    answers,\n    answersJson: JSON.stringify(answers),\n    completedAt: new Date().toISOString(),\n    nextStatus: 'Brief Completado'\n  }\n}];"
      },
      "id": "e7fd9f90-1022-49f8-b16d-721dc2b47426",
      "name": "Validate And Normalize Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "URL_A_TU_GOOGLE_SHEET",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "value": {
            "Brief_Token": "={{ $('Validate And Normalize Brief').item.json.token }}",
            "Technical_Brief_JSON": "={{ $('Validate And Normalize Brief').item.json.answersJson }}",
            "Estado": "={{ $('Validate And Normalize Brief').item.json.nextStatus }}",
            "Brief_Completed_At": "={{ $('Validate And Normalize Brief').item.json.completedAt }}"
          },
          "schema": [
            {
              "id": "Brief_Token",
              "displayName": "Brief_Token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Technical_Brief_JSON",
              "displayName": "Technical_Brief_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Brief_Completed_At",
              "displayName": "Brief_Completed_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "matchingColumns": [
          "Brief_Token"
        ],
        "options": {}
      },
      "id": "13f85db8-fd2e-4ded-ad31-c00b68218d0e",
      "name": "Update Lead Brief Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14570f34-739d-4583-b42b-d1b0b11d0b07",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "1610ea8d-4811-4d8d-9c00-8166f7630573",
              "name": "token",
              "value": "={{ $('Validate And Normalize Brief').item.json.token }}",
              "type": "string"
            },
            {
              "id": "c75bc58f-6108-4faf-8fbf-f9a5efebc0fd",
              "name": "message",
              "value": "Brief tecnico recibido y registrado.",
              "type": "string"
            },
            {
              "id": "96e59dd9-f2c0-4c5f-9d77-0701797cc071",
              "name": "notificationHint",
              "value": "Agrega un HTTP Request aqui si quieres avisar a Slack o Teams.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1e02cff-8d4b-4ece-a55d-b1825ac7b6af",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1310,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Validate And Normalize Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Normalize Brief": {
      "main": [
        [
          {
            "node": "Update Lead Brief Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Brief Data": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4972a5ab-6fdb-4908-b307-5a81172f1ab6",
  "meta": {},
  "tags": []
}
