n8n/workflows/js-solutions-portal-approval.json
{
  "name": "JS Solutions - Portal Approval Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "js-solutions/portal-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2b3fa76d-268b-46e4-afdd-d614280d4a77",
      "name": "Webhook (Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst clientToken = body.clientToken ?? '';\nconst resourceTypeRaw = body.resourceType ?? 'deliverable';\nconst resourceType = ['quote', 'contract', 'deliverable'].includes(resourceTypeRaw)\n  ? resourceTypeRaw\n  : 'deliverable';\nconst resourceId = body.resourceId ?? body.documentId ?? '';\nconst resourceName = body.resourceName ?? body.documentName ?? 'Entregable';\nconst approvedAt = body.approvedAt ?? new Date().toISOString();\nconst correlationId = body.correlationId ?? '';\nconst idempotencyKey = body.idempotencyKey ?? '';\n\nif (!clientToken || !resourceId) {\n  throw new Error('clientToken and resourceId are required');\n}\n\nreturn [{\n  json: {\n    clientToken,\n    resourceType,\n    resourceId,\n    resourceName,\n    approvedAt,\n    correlationId,\n    idempotencyKey\n  }\n}];"
      },
      "id": "9d48031f-12da-4d8f-a861-b844f7e3492d",
      "name": "Validate Approval Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "URL_A_TU_GOOGLE_SHEET",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Brief_Token",
              "lookupValue": "={{ $('Validate Approval Request').item.json.clientToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1b111a0-5575-46ad-b46a-3ca5d7a49ef4",
      "name": "Lookup Lead By Token",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db8da4da-2b90-4cd1-8a38-2a1ca5eed55f",
              "leftValue": "={{ $('Validate Approval Request').item.json.resourceType }}",
              "rightValue": "deliverable",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d48bdd6-b72e-456b-9be3-2ef6c356fdba",
      "name": "IF Quote Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $json ?? {};\nconst request = $('Validate Approval Request').item.json;\nconst expectedQuoteId = row.Quote_Document_Id ?? '';\nconst expectedContractId = row.Contract_Document_Id ?? `contract-${row.leadId || ''}`;\n\nif (!row.leadId) {\n  throw new Error('lead not found for clientToken');\n}\n\nif (request.resourceType === 'quote' && expectedQuoteId && expectedQuoteId !== request.resourceId) {\n  throw new Error('resourceId does not match Quote_Document_Id');\n}\n\nif (request.resourceType === 'contract' && expectedContractId && expectedContractId !== request.resourceId) {\n  throw new Error('resourceId does not match Contract_Document_Id');\n}\n\nreturn [{\n  json: {\n    leadId: row.leadId,\n    clientToken: request.clientToken,\n    resourceType: request.resourceType,\n    resourceId: request.resourceId,\n    resourceName: request.resourceName,\n    approvedAt: request.approvedAt,\n    correlationId: request.correlationId,\n    idempotencyKey: request.idempotencyKey,\n    currentQuoteStatus: row.Quote_Status ?? '',\n    currentQuoteApprovedAt: row.Quote_Approved_At ?? '',\n    currentContractStatus: row.Contract_Status ?? '',\n    currentContractApprovedAt: row.Contract_Approved_At ?? '',\n    currentEstado: row.estado ?? ''\n  }\n}];"
      },
      "id": "6a5571ab-444c-48d2-a312-e40af82cda09",
      "name": "Validate Quote Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "URL_A_TU_GOOGLE_SHEET",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "value": {
            "Brief_Token": "={{ $('Validate Approval Request').item.json.clientToken }}",
            "Quote_Status": "={{ $('Validate Quote Match').item.json.resourceType === 'quote' ? 'Aprobado' : $('Validate Quote Match').item.json.currentQuoteStatus }}",
            "Quote_Approved_At": "={{ $('Validate Quote Match').item.json.resourceType === 'quote' ? $('Validate Approval Request').item.json.approvedAt : $('Validate Quote Match').item.json.currentQuoteApprovedAt }}",
            "estado": "={{ $('Validate Quote Match').item.json.resourceType === 'quote' ? 'Firmado' : ($('Validate Quote Match').item.json.resourceType === 'contract' ? 'Contrato Firmado' : $('Validate Quote Match').item.json.currentEstado) }}",
            "Contract_Status": "={{ $('Validate Quote Match').item.json.resourceType === 'contract' ? 'Aprobado' : $('Validate Quote Match').item.json.currentContractStatus }}",
            "Contract_Approved_At": "={{ $('Validate Quote Match').item.json.resourceType === 'contract' ? $('Validate Approval Request').item.json.approvedAt : $('Validate Quote Match').item.json.currentContractApprovedAt }}",
            "Last_Correlation_Id": "={{ $('Validate Approval Request').item.json.correlationId }}"
          },
          "schema": [
            {
              "id": "Brief_Token",
              "displayName": "Brief_Token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quote_Status",
              "displayName": "Quote_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Quote_Approved_At",
              "displayName": "Quote_Approved_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Contract_Status",
              "displayName": "Contract_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Contract_Approved_At",
              "displayName": "Contract_Approved_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Last_Correlation_Id",
              "displayName": "Last_Correlation_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "matchingColumns": [
          "Brief_Token"
        ],
        "options": {}
      },
      "id": "bfdf2da9-a837-4459-b64f-f83ee25d08d0",
      "name": "Update Quote Approval",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f24dc4e-01ff-4edb-aa3c-7f4a78933e6f",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "1d1bed65-4b89-4968-93dc-367c76f877d5",
              "name": "message",
              "value": "Cotización aprobada y sincronizada.",
              "type": "string"
            },
            {
              "id": "resource-type",
              "name": "resourceType",
              "value": "={{ $('Validate Approval Request').item.json.resourceType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b7cc173b-129f-47b8-a1e2-e9ea9d8fb34e",
      "name": "Quote Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ad63b03-68ec-487a-a352-73b23a7f6e5d",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "b4517c9f-21a8-42d8-92ab-71fb216a3737",
              "name": "message",
              "value": "Aprobación de entregable registrada.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "370f04cc-1de3-4861-a3b5-817bcb465a44",
      "name": "Deliverable Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "5f6c09ff-68a1-4018-9204-fb5bc65d8b18",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2020,
        320
      ]
    }
  ],
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Validate Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Approval Request": {
      "main": [
        [
          {
            "node": "Lookup Lead By Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Lead By Token": {
      "main": [
        [
          {
            "node": "IF Quote Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Quote Approval": {
      "main": [
        [
          {
            "node": "Validate Quote Match",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deliverable Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Quote Match": {
      "main": [
        [
          {
            "node": "Update Quote Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Quote Approval": {
      "main": [
        [
          {
            "node": "Quote Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deliverable Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": []
}
