n8n/workflows/js-solutions-get-quotes.json
{
  "name": "JS Solutions - Get Quotes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "js-solutions/get-quotes",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "95622731-1a58-4603-a08b-cb505641efec",
      "name": "Webhook (Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "URL_A_TU_GOOGLE_SHEET",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "7abdf2df-3a06-4d77-80c5-4b9913b0e2c4",
      "name": "Read Quotes From Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        520,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nfunction parseBrief(value) {\n  if (value == null || value === '') {\n    return { technicalBrief: null, technicalBriefRaw: undefined };\n  }\n\n  if (typeof value === 'object') {\n    return { technicalBrief: value, technicalBriefRaw: undefined };\n  }\n\n  const raw = String(value);\n  try {\n    const parsed = JSON.parse(raw);\n    if (parsed && typeof parsed === 'object') {\n      return { technicalBrief: parsed, technicalBriefRaw: raw };\n    }\n  } catch {\n    return { technicalBrief: null, technicalBriefRaw: raw };\n  }\n\n  return { technicalBrief: null, technicalBriefRaw: raw };\n}\n\nconst quotes = rows.map(({ json }, index) => {\n  const brief = parseBrief(json.Technical_Brief_JSON ?? json.technicalBrief ?? json.technical_brief_json);\n\n  return {\n    id: json.leadId || json.id || json.Lead_ID || `lead-${index + 1}`,\n    leadId: json.leadId || json.id || json.Lead_ID || `lead-${index + 1}`,\n    nombre: json.nombre || json.name || json.Nombre || 'Sin nombre',\n    empresa: json.empresa || json.company || json.Empresa || 'Empresa no especificada',\n    email: json.email || json.Prospect_Email || json.Email || '',\n    servicio: json.servicio || json.service || json.Servicio || 'Sin servicio',\n    monto: json.monto || json.amount || json.Monto || '$0',\n    industria: json.industria || json.industry || json.Industria || 'General',\n    estado: json.estado || json.Estado || json.status || 'Pendiente',\n    briefUrl: json.Brief_URL || json.briefUrl || '',\n    briefToken: json.Brief_Token || json.briefToken || '',\n    technicalBrief: brief.technicalBrief,\n    technicalBriefRaw: brief.technicalBriefRaw,\n    briefCompletedAt: json.Brief_Completed_At || json.briefCompletedAt || '',\n    clientDashboardUrl: json.Client_Dashboard_URL || json.clientDashboardUrl || json.dashboardUrl || '',\n    quoteDocumentId: json.Quote_Document_Id || json.quoteDocumentId || '',\n    quotePdfUrl: json.Quote_PDF_URL || json.quotePdfUrl || '',\n    quoteStatus: json.Quote_Status || json.quoteStatus || '',\n    quoteGeneratedAt: json.Quote_Generated_At || json.quoteGeneratedAt || '',\n    quoteApprovedAt: json.Quote_Approved_At || json.quoteApprovedAt || '',\n    quoteLastFeedback: json.Quote_Last_Feedback || json.quoteLastFeedback || '',\n    contractUrl: json.Contract_URL || json.contractUrl || '',\n    contractGeneratedAt: json.Contract_Generated_At || json.contractGeneratedAt || ''\n  };\n});\n\nreturn [{ json: { quotes } }];"
      },
      "id": "887e3c3d-f18d-468d-84a9-8f557e2dc71d",
      "name": "Normalize Quotes Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Read Quotes From Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Quotes From Google Sheets": {
      "main": [
        [
          {
            "node": "Normalize Quotes Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a189665-b7d2-4d4a-b4f2-4c57e4678bc8",
  "meta": {},
  "tags": []
}
