n8n/workflows/js-solutions-generate-contract.json
{
  "name": "JS Solutions - Generate Contract",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "js-solutions/generate-contract",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "90d675f0-0d5a-422e-83c2-f81d678296eb",
      "name": "Webhook (Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst leadId = body.leadId ?? body.quoteId ?? '';\nconst email = body.email ?? '';\n\nif (!leadId && !email) {\n  throw new Error('leadId or email is required');\n}\n\nreturn [{\n  json: {\n    leadId,\n    email,\n    requestedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "f56b23d7-2944-4214-95f9-0a2dc3631b13",
      "name": "Validate Contract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "URL_A_TU_GOOGLE_SHEET",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "leadId",
              "lookupValue": "={{ $('Validate Contract Request').item.json.leadId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "da4dcb35-b30d-4e4d-b6ea-1f67aca3f4ed",
      "name": "Lookup Lead Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        740,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst req = $('Validate Contract Request').item.json;\nconst leadId = source.leadId ?? req.leadId;\nconst email = source.email ?? req.email;\nconst contractId = typeof crypto !== 'undefined' && crypto.randomUUID\n  ? crypto.randomUUID()\n  : `${Date.now()}-${Math.random().toString(16).slice(2)}`;\nconst company = source.empresa ?? source.Empresa ?? 'Prospecto';\nconst service = source.servicio ?? source.Servicio ?? 'Servicio JS Solutions';\nconst amount = source.monto ?? source.Monto ?? 'Pendiente';\nconst contractUrl = `https://files.jssolutions.co/contracts/${contractId}.pdf`;\n\nreturn [{\n  json: {\n    leadId,\n    email,\n    empresa: company,\n    servicio: service,\n    monto: amount,\n    contractId,\n    contractUrl,\n    estado: 'Contrato Enviado',\n    Contract_URL: contractUrl,\n    Contract_Generated_At: new Date().toISOString(),\n    contractHtml: `<h1>Contrato JS Solutions</h1><p>Cliente: ${company}</p><p>Servicio: ${service}</p><p>Valor: ${amount}</p><p>ID: ${contractId}</p>`\n  }\n}];"
      },
      "id": "d482562b-f124-4a17-82be-d9ea60365853",
      "name": "Prepare Contract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1030,
        320
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.email }}",
        "subject": "Tu contrato con JS Solutions",
        "emailType": "html",
        "message": "=<p>Hola,</p><p>Adjuntamos el enlace de tu contrato.</p><p><a href=\"{{$json.contractUrl}}\">Ver contrato</a></p><p>Servicio: {{$json.servicio}}</p><p>Valor: {{$json.monto}}</p>",
        "options": {
          "senderName": "JS Solutions",
          "appendAttribution": false
        }
      },
      "id": "a27858d2-4f7c-4e61-9286-735bfa874b32",
      "name": "Send Contract Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1290,
        320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "URL_A_TU_GOOGLE_SHEET",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "value": {
            "leadId": "={{ $json.leadId }}",
            "estado": "={{ $json.estado }}",
            "Contract_URL": "={{ $json.Contract_URL }}",
            "Contract_Generated_At": "={{ $json.Contract_Generated_At }}"
          },
          "schema": [
            {
              "id": "leadId",
              "displayName": "leadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Contract_URL",
              "displayName": "Contract_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Contract_Generated_At",
              "displayName": "Contract_Generated_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "matchingColumns": [
          "leadId"
        ],
        "options": {}
      },
      "id": "88676843-e7e8-4139-b484-8a6eedf1acbf",
      "name": "Update Lead Contract Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "694cccb1-93f1-4385-a77f-adb1455bce01",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "cdf305ab-cddd-4411-b310-ec445f6cf5ea",
              "name": "contractUrl",
              "value": "={{ $('Prepare Contract Payload').item.json.contractUrl }}",
              "type": "string"
            },
            {
              "id": "4052d45e-2362-474c-ab16-a2019fa2b311",
              "name": "contractId",
              "value": "={{ $('Prepare Contract Payload').item.json.contractId }}",
              "type": "string"
            },
            {
              "id": "30fc25bf-3762-4d4f-b38d-629d4351ffed",
              "name": "message",
              "value": "Contrato generado y enviado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f377ca4c-e64a-453d-bfdf-ab7eb15dcbf4",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1830,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ed2a3df5-7fea-44ed-aa10-2576772bb994",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2080,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Validate Contract Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Contract Request": {
      "main": [
        [
          {
            "node": "Lookup Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Lead Data": {
      "main": [
        [
          {
            "node": "Prepare Contract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contract Payload": {
      "main": [
        [
          {
            "node": "Send Contract Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Contract Email": {
      "main": [
        [
          {
            "node": "Update Lead Contract Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Contract Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a17fc820-2fcb-4077-af02-7afeff8628bb",
  "meta": {},
  "tags": []
}
